@import "tailwindcss";

* {
  box-sizing: border-box;
  background-color: #F6FFF8;
  color: #6B9080;
}

#root {
  font-family: inherit;
  width: 100%;
}

a {
  color: #A4C3B2;
  font-weight: bold;
}

a:hover,
input:hover {
  color: #6B9080;
}

input {
  color: #A4C3B2;
}

form,
label,
form div,
form h2 {
  background-color: #EAF4F4;
}

button {
  background-color: #CCE3DE;
}

button:hover {
  background-color: #6B9080;
  color: #EAF4F4;
}

form p {
  color: red;
  background-color: #EAF4F4;
}

#alert-success {
  background-color: rgba(40, 177, 40, 0.444);
  color: white;
}

#alert-failure {
  background-color: rgba(234, 25, 25, 0.475);
  color: white;
}

.font-newsreader {
  font-family: 'Newsreader', serif;
}

#title {
  animation-name: slideDown;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

#career {
  animation-name: slideUp;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

#socials {
  animation-name: slideFromRight;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

#navbar {
  animation-name: slideFromLeft;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

#pfp {
  animation-name: growIn;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

#name {
  animation-name: growIn;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

#about {
  animation-name: slideFromRight;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

#contact-form {
  animation-name: slideDown;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

#video {
  animation-name: growIn;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

#ActiveX {
  animation-name: slideFromRight;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-500%);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(1000%);
  }
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
  }
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%);
  }
}

@keyframes growIn {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}